<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-calendar-heading" jhiTranslate="broadcastApp.calendar.home.createOrEditLabel">Create or edit a Calendar</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="broadcastApp.calendar.initialHour" for="field_initialHour">Initial Hour</label>
                    <input type="text" class="form-control" name="initialHour" id="field_initialHour"
                           formControlName="initialHour"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="broadcastApp.calendar.finalHour" for="field_finalHour">Final Hour</label>
                    <input type="text" class="form-control" name="finalHour" id="field_finalHour"
                           formControlName="finalHour"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="broadcastApp.calendar.transmitions" for="field_transmitions">Transmitions</label>
                    <select class="form-control" id="field_transmitions" name="transmitions" formControlName="transmitions">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="transmitionOption.id === editForm.get('transmitions')!.value?.id ? editForm.get('transmitions')!.value : transmitionOption" *ngFor="let transmitionOption of transmitions; trackBy: trackById">{{ transmitionOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
