<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="calendar">
            <h2><span jhiTranslate="broadcastApp.calendar.detail.title">Calendar</span> {{ calendar.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="broadcastApp.calendar.initialHour">Initial Hour</span></dt>
                <dd>
                    <span>{{ calendar.initialHour }}</span>
                </dd>
                <dt><span jhiTranslate="broadcastApp.calendar.finalHour">Final Hour</span></dt>
                <dd>
                    <span>{{ calendar.finalHour }}</span>
                </dd>
                <dt><span jhiTranslate="broadcastApp.calendar.transmitions">Transmitions</span></dt>
                <dd>
                    <div *ngIf="calendar.transmitions">
                        <a [routerLink]="['/transmition', calendar.transmitions?.id, 'view']">{{ calendar.transmitions?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/calendar', calendar.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
